/*
 *  This file should contain your custom style rules.
 */
 
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../gnow.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.4;
}

 .mui-btn--primary {
     background-color: #2196F3;     
 }

.title {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 25px;
    padding-bottom: auto;
    background-color: #2196F3;
    opacity: 1;
}

.demo-card-wide.mdl-card {
    width: 80%;
    padding: 50px;
    display: block;
    margin: 0 auto;
}

.mui--text-display3 {
    padding-bottom: 30px;
    text-align: center;
}

.container {
    padding: 50px;
}

.padding {
    padding-left: 15%;
    padding-right: 15%;
}

.mui-textfield, .mui-form {
    margin-bottom: 50px;
}

.alert-danger {
    display: none;
}

.alert-danger.active {
    display: block;
}

.message-controls {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.8em;
    color: #757575;    
}

.message-author {
    text-align: right;
    float: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

#profile-dialog {
    width: 60%;
}

#message-input {
    float: left;
    width: 90%;
}

#pic {
    width: 100%;
}

#messageList {
    margin: 20px;
    height: 100px;
}

#controsl {
    margin-top: -65px;
}

@media (max-width: 992px) {
    .left {
        float: clear;
        width: 100%;
    }

    .right {
        float: clear;
        width: 100%;
    }
}